In [1]:
import pandas as pd

from task2.services.transformations.employees_transformations import transform_csv_data
from task2.utls.logger_config import logger
from task2.models.base import Base, engine
from task2.services.schema.schema_definitions import EMPLOYEE_SCHEMA, EMPLOYEE_RANGE_SCHEMA
from task2.services.schema.schema_validation import SchemaValidation

# Create all tables in the database
Base.metadata.create_all(engine)
print("Database tables created successfully!")

2025-04-13 01:25:38,077 INFO sqlalchemy.engine.Engine BEGIN (implicit)
01:25:38 INFO: BEGIN (implicit)
2025-04-13 01:25:38,077 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("departments")
01:25:38 INFO: PRAGMA main.table_info("departments")
2025-04-13 01:25:38,078 INFO sqlalchemy.engine.Engine [raw sql] ()
01:25:38 INFO: [raw sql] ()
2025-04-13 01:25:38,079 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
01:25:38 INFO: PRAGMA main.table_info("employees")
2025-04-13 01:25:38,079 INFO sqlalchemy.engine.Engine [raw sql] ()
01:25:38 INFO: [raw sql] ()
2025-04-13 01:25:38,080 INFO sqlalchemy.engine.Engine COMMIT
01:25:38 INFO: COMMIT
Database tables created successfully!

In [10]:
# Validate Schema
logger.info("Starting transformation: first trim, then convert types\n")
emp_df:pd.DataFrame =  pd.read_csv("./data/employees.csv", delimiter=',', header=0)

# Apply the transformation: first trim, then convert types.
transformed_emp_df = transform_csv_data(emp_df, EMPLOYEE_SCHEMA)
print(transformed_emp_df.head(1))

01:29:20 INFO: Starting transformation: first trim, then convert types

trim_string_values executed in 0.0007 seconds
convert_data_types executed in 0.0012 seconds
                                     id       name date_of_birth  salary  \
0  1dd3b13a-0b76-4468-b7c0-39ef57828315  James Lee    1973-09-15  145198

   department_id
0              8