In [1]:
import pandas as pd

from task2.services.converters.converter import convert_to_employees
from task2.services.db.data_inserter import insert_data
from task2.services.generators.department_generator import generate_department_records
from task2.services.transformations.base_transformations import trim_all_values
from task2.utls.logger_config import logger
from task2.models.base import Base, engine
from task2.services.schema.schema_definitions import EMPLOYEE_SCHEMA

# Create all tables in the database
Base.metadata.create_all(engine)
print("Database tables created successfully!")

2025-04-13 03:10:21,856 INFO sqlalchemy.engine.Engine BEGIN (implicit)
03:10:21 INFO: BEGIN (implicit)
2025-04-13 03:10:21,856 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("departments")
03:10:21 INFO: PRAGMA main.table_info("departments")
2025-04-13 03:10:21,857 INFO sqlalchemy.engine.Engine [raw sql] ()
03:10:21 INFO: [raw sql] ()
2025-04-13 03:10:21,858 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("departments")
03:10:21 INFO: PRAGMA temp.table_info("departments")
2025-04-13 03:10:21,858 INFO sqlalchemy.engine.Engine [raw sql] ()
03:10:21 INFO: [raw sql] ()
2025-04-13 03:10:21,859 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
03:10:21 INFO: PRAGMA main.table_info("employees")
2025-04-13 03:10:21,859 INFO sqlalchemy.engine.Engine [raw sql] ()
03:10:21 INFO: [raw sql] ()
2025-04-13 03:10:21,859 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("employees")
03:10:21 INFO: PRAGMA temp.table_info("employees")
2025-04-13 03:10:21,860 INFO sqlalchemy.engine.Engine [raw sql] ()
03:10:21 INFO: [raw sql] ()
2025-04-13 03:10:21,861 INFO sqlalchemy.engine.Engine
CREATE TABLE departments (
	name VARCHAR(30) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id)
)


03:10:21 INFO:
CREATE TABLE departments (
	name VARCHAR(30) NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id)
)


2025-04-13 03:10:21,861 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
03:10:21 INFO: [no key 0.00033s] ()
2025-04-13 03:10:21,862 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	name VARCHAR(30) NOT NULL,
	date_of_birth DATE NOT NULL,
	salary INTEGER NOT NULL,
	department_id VARCHAR NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(department_id) REFERENCES departments (id)
)


03:10:21 INFO:
CREATE TABLE employees (
	name VARCHAR(30) NOT NULL,
	date_of_birth DATE NOT NULL,
	salary INTEGER NOT NULL,
	department_id VARCHAR NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(department_id) REFERENCES departments (id)
)


2025-04-13 03:10:21,862 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
03:10:21 INFO: [no key 0.00038s] ()
2025-04-13 03:10:21,863 INFO sqlalchemy.engine.Engine COMMIT
03:10:21 INFO: COMMIT
Database tables created successfully!

In [2]:
logger.info("Starting transformation: first trim, then convert types\n")
emp_df:pd.DataFrame =  pd.read_csv("./data/employees.csv", delimiter=',', header=0)

# Apply the transformation: trim values
transformed_emp_df = trim_all_values(emp_df, EMPLOYEE_SCHEMA)
print(transformed_emp_df.head(1))

03:10:21 INFO: Starting transformation: first trim, then convert types

trim_all_values executed in 0.0009 seconds
                                     id       name date_of_birth  salary  \
0  1dd3b13a-0b76-4468-b7c0-39ef57828315  James Lee    1973-09-15  145198

  department_id
0             8

In [3]:
# Convert DataFrame to Employees ORM instances
employee_instances = convert_to_employees(transformed_emp_df)

# Use the inserter to insert employee data into the database
insert_data(engine, employee_instances)

2025-04-13 03:10:22,015 INFO sqlalchemy.engine.Engine BEGIN (implicit)
03:10:22 INFO: BEGIN (implicit)
2025-04-13 03:10:22,018 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,018 INFO sqlalchemy.engine.Engine [generated in 0.00022s (insertmanyvalues) 1/100 (ordered; batch not supported)] ('James Lee', '1973-09-15', '145198', '8')
03:10:22 INFO: [generated in 0.00022s (insertmanyvalues) 1/100 (ordered; batch not supported)] ('James Lee', '1973-09-15', '145198', '8')
2025-04-13 03:10:22,019 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,019 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/100 (ordered; batch not supported)] ('Dustin Jackson', '1976-08-02', '70001', '6')
03:10:22 INFO: [insertmanyvalues 2/100 (ordered; batch not supported)] ('Dustin Jackson', '1976-08-02', '70001', '6')
2025-04-13 03:10:22,020 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,020 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/100 (ordered; batch not supported)] ('David Clark', '1979-04-17', '107474', '5')
03:10:22 INFO: [insertmanyvalues 3/100 (ordered; batch not supported)] ('David Clark', '1979-04-17', '107474', '5')
2025-04-13 03:10:22,020 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,021 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/100 (ordered; batch not supported)] ('Jose West', '1991-12-10', '68319', '7')
03:10:22 INFO: [insertmanyvalues 4/100 (ordered; batch not supported)] ('Jose West', '1991-12-10', '68319', '7')
2025-04-13 03:10:22,021 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,022 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/100 (ordered; batch not supported)] ('Stephanie Johnson', '1971-11-13', '123717', '5')
03:10:22 INFO: [insertmanyvalues 5/100 (ordered; batch not supported)] ('Stephanie Johnson', '1971-11-13', '123717', '5')
2025-04-13 03:10:22,022 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/100 (ordered; batch not supported)] ('Aaron Delacruz', '2006-05-08', '42778', '1')
03:10:22 INFO: [insertmanyvalues 6/100 (ordered; batch not supported)] ('Aaron Delacruz', '2006-05-08', '42778', '1')
2025-04-13 03:10:22,023 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,023 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/100 (ordered; batch not supported)] ('Jose Shaw', '2003-07-21', '82966', '7')
03:10:22 INFO: [insertmanyvalues 7/100 (ordered; batch not supported)] ('Jose Shaw', '2003-07-21', '82966', '7')
2025-04-13 03:10:22,024 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,024 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/100 (ordered; batch not supported)] ('Victoria Heath', '1973-06-19', '93087', '8')
03:10:22 INFO: [insertmanyvalues 8/100 (ordered; batch not supported)] ('Victoria Heath', '1973-06-19', '93087', '8')
2025-04-13 03:10:22,025 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,025 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/100 (ordered; batch not supported)] ('Brenda Richards', '2003-09-16', '115176', '4')
03:10:22 INFO: [insertmanyvalues 9/100 (ordered; batch not supported)] ('Brenda Richards', '2003-09-16', '115176', '4')
2025-04-13 03:10:22,026 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,026 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/100 (ordered; batch not supported)] ('Audrey Sanchez', '1989-09-11', '99604', '10')
03:10:22 INFO: [insertmanyvalues 10/100 (ordered; batch not supported)] ('Audrey Sanchez', '1989-09-11', '99604', '10')
2025-04-13 03:10:22,026 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/100 (ordered; batch not supported)] ('Debra Archer', '1971-02-23', '142070', '6')
03:10:22 INFO: [insertmanyvalues 11/100 (ordered; batch not supported)] ('Debra Archer', '1971-02-23', '142070', '6')
2025-04-13 03:10:22,027 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,027 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/100 (ordered; batch not supported)] ('Sean Patton', '1993-07-23', '100368', '5')
03:10:22 INFO: [insertmanyvalues 12/100 (ordered; batch not supported)] ('Sean Patton', '1993-07-23', '100368', '5')
2025-04-13 03:10:22,028 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,028 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/100 (ordered; batch not supported)] ('William Gilmore', '1992-06-14', '54327', '5')
03:10:22 INFO: [insertmanyvalues 13/100 (ordered; batch not supported)] ('William Gilmore', '1992-06-14', '54327', '5')
2025-04-13 03:10:22,029 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,029 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/100 (ordered; batch not supported)] ('Jessica Brooks', '1972-06-17', '62105', '3')
03:10:22 INFO: [insertmanyvalues 14/100 (ordered; batch not supported)] ('Jessica Brooks', '1972-06-17', '62105', '3')
2025-04-13 03:10:22,030 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,030 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/100 (ordered; batch not supported)] ('Peter Moran', '1990-03-10', '145720', '5')
03:10:22 INFO: [insertmanyvalues 15/100 (ordered; batch not supported)] ('Peter Moran', '1990-03-10', '145720', '5')
2025-04-13 03:10:22,030 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,031 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/100 (ordered; batch not supported)] ('Pamela Kirby', '1982-11-17', '67851', '9')
03:10:22 INFO: [insertmanyvalues 16/100 (ordered; batch not supported)] ('Pamela Kirby', '1982-11-17', '67851', '9')
2025-04-13 03:10:22,031 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,032 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/100 (ordered; batch not supported)] ('Peggy Sanchez', '1982-07-23', '42496', '8')
03:10:22 INFO: [insertmanyvalues 17/100 (ordered; batch not supported)] ('Peggy Sanchez', '1982-07-23', '42496', '8')
2025-04-13 03:10:22,032 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,032 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/100 (ordered; batch not supported)] ('Brenda Crane', '1997-08-16', '93003', '7')
03:10:22 INFO: [insertmanyvalues 18/100 (ordered; batch not supported)] ('Brenda Crane', '1997-08-16', '93003', '7')
2025-04-13 03:10:22,033 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,033 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/100 (ordered; batch not supported)] ('Terri Henry', '1996-01-02', '125372', '7')
03:10:22 INFO: [insertmanyvalues 19/100 (ordered; batch not supported)] ('Terri Henry', '1996-01-02', '125372', '7')
2025-04-13 03:10:22,033 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,034 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/100 (ordered; batch not supported)] ('Caroline Patton', '1988-07-13', '52662', '4')
03:10:22 INFO: [insertmanyvalues 20/100 (ordered; batch not supported)] ('Caroline Patton', '1988-07-13', '52662', '4')
2025-04-13 03:10:22,034 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,034 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/100 (ordered; batch not supported)] ('Tiffany Bailey', '1981-01-06', '149594', '4')
03:10:22 INFO: [insertmanyvalues 21/100 (ordered; batch not supported)] ('Tiffany Bailey', '1981-01-06', '149594', '4')
2025-04-13 03:10:22,035 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,035 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/100 (ordered; batch not supported)] ('Tammy Rose', '1983-10-17', '67229', '9')
03:10:22 INFO: [insertmanyvalues 22/100 (ordered; batch not supported)] ('Tammy Rose', '1983-10-17', '67229', '9')
2025-04-13 03:10:22,036 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,036 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/100 (ordered; batch not supported)] ('Heidi Perry', '2003-02-24', '119138', '4')
03:10:22 INFO: [insertmanyvalues 23/100 (ordered; batch not supported)] ('Heidi Perry', '2003-02-24', '119138', '4')
2025-04-13 03:10:22,036 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/100 (ordered; batch not supported)] ('Michael Martin', '1993-07-27', '48230', '2')
03:10:22 INFO: [insertmanyvalues 24/100 (ordered; batch not supported)] ('Michael Martin', '1993-07-27', '48230', '2')
2025-04-13 03:10:22,037 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/100 (ordered; batch not supported)] ('Joseph Russell', '1993-08-29', '135316', '5')
03:10:22 INFO: [insertmanyvalues 25/100 (ordered; batch not supported)] ('Joseph Russell', '1993-08-29', '135316', '5')
2025-04-13 03:10:22,038 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,038 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/100 (ordered; batch not supported)] ('Thomas Stark', '1982-12-30', '103364', '9')
03:10:22 INFO: [insertmanyvalues 26/100 (ordered; batch not supported)] ('Thomas Stark', '1982-12-30', '103364', '9')
2025-04-13 03:10:22,039 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,039 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/100 (ordered; batch not supported)] ('Earl Brooks', '1970-02-18', '47080', '9')
03:10:22 INFO: [insertmanyvalues 27/100 (ordered; batch not supported)] ('Earl Brooks', '1970-02-18', '47080', '9')
2025-04-13 03:10:22,039 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at

In [4]:
fake_departments = generate_department_records(10)
insert_data(engine, fake_departments)

2025-04-13 03:10:22,887 INFO sqlalchemy.engine.Engine BEGIN (implicit)
03:10:22 INFO: BEGIN (implicit)
2025-04-13 03:10:22,888 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,888 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Montgomery-Walker', 1)
03:10:22 INFO: [generated in 0.00007s (insertmanyvalues) 1/10 (ordered; batch not supported)] ('Montgomery-Walker', 1)
2025-04-13 03:10:22,889 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,889 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/10 (ordered; batch not supported)] ('Williams, Williams and Marshall', 2)
03:10:22 INFO: [insertmanyvalues 2/10 (ordered; batch not supported)] ('Williams, Williams and Marshall', 2)
2025-04-13 03:10:22,890 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,890 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/10 (ordered; batch not supported)] ('Garcia, Schneider and Rios', 3)
03:10:22 INFO: [insertmanyvalues 3/10 (ordered; batch not supported)] ('Garcia, Schneider and Rios', 3)
2025-04-13 03:10:22,891 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,891 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/10 (ordered; batch not supported)] ('Edwards-Smith', 4)
03:10:22 INFO: [insertmanyvalues 4/10 (ordered; batch not supported)] ('Edwards-Smith', 4)
2025-04-13 03:10:22,892 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,892 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/10 (ordered; batch not supported)] ('Brown Ltd', 5)
03:10:22 INFO: [insertmanyvalues 5/10 (ordered; batch not supported)] ('Brown Ltd', 5)
2025-04-13 03:10:22,893 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,893 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/10 (ordered; batch not supported)] ('Turner Ltd', 6)
03:10:22 INFO: [insertmanyvalues 6/10 (ordered; batch not supported)] ('Turner Ltd', 6)
2025-04-13 03:10:22,894 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,894 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/10 (ordered; batch not supported)] ('Henderson, Cole and Sellers', 7)
03:10:22 INFO: [insertmanyvalues 7/10 (ordered; batch not supported)] ('Henderson, Cole and Sellers', 7)
2025-04-13 03:10:22,894 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,895 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/10 (ordered; batch not supported)] ('Brown LLC', 8)
03:10:22 INFO: [insertmanyvalues 8/10 (ordered; batch not supported)] ('Brown LLC', 8)
2025-04-13 03:10:22,895 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,895 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/10 (ordered; batch not supported)] ('Walker, Miller and Wolf', 9)
03:10:22 INFO: [insertmanyvalues 9/10 (ordered; batch not supported)] ('Walker, Miller and Wolf', 9)
2025-04-13 03:10:22,896 INFO sqlalchemy.engine.Engine INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
03:10:22 INFO: INSERT INTO departments (name, id, created_at, updated_at) VALUES (?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 03:10:22,896 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/10 (ordered; batch not supported)] ('Haney and Sons', 10)
03:10:22 INFO: [insertmanyvalues 10/10 (ordered; batch not supported)] ('Haney and Sons', 10)
2025-04-13 03:10:22,897 INFO sqlalchemy.engine.Engine COMMIT
03:10:22 INFO: COMMIT
10 instances inserted successfully!