In [1]:
import pandas as pd

from task2.services.converters.converter import convert_to_employees
from task2.services.db.data_inserter import insert_data
from task2.services.schema.schema_validation import SchemaValidation
from task2.services.transformations.employees_transformations import transform_csv_data
from task2.utls.logger_config import logger
from task2.models.base import Base, engine
from task2.services.schema.schema_definitions import EMPLOYEE_SCHEMA

# Create all tables in the database
Base.metadata.create_all(engine)
print("Database tables created successfully!")

2025-04-13 02:29:36,934 INFO sqlalchemy.engine.Engine BEGIN (implicit)
02:29:36 INFO: BEGIN (implicit)
2025-04-13 02:29:36,934 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("departments")
02:29:36 INFO: PRAGMA main.table_info("departments")
2025-04-13 02:29:36,935 INFO sqlalchemy.engine.Engine [raw sql] ()
02:29:36 INFO: [raw sql] ()
2025-04-13 02:29:36,936 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("departments")
02:29:36 INFO: PRAGMA temp.table_info("departments")
2025-04-13 02:29:36,936 INFO sqlalchemy.engine.Engine [raw sql] ()
02:29:36 INFO: [raw sql] ()
2025-04-13 02:29:36,937 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
02:29:36 INFO: PRAGMA main.table_info("employees")
2025-04-13 02:29:36,938 INFO sqlalchemy.engine.Engine [raw sql] ()
02:29:36 INFO: [raw sql] ()
2025-04-13 02:29:36,938 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("employees")
02:29:36 INFO: PRAGMA temp.table_info("employees")
2025-04-13 02:29:36,939 INFO sqlalchemy.engine.Engine [raw sql] ()
02:29:36 INFO: [raw sql] ()
2025-04-13 02:29:36,940 INFO sqlalchemy.engine.Engine
CREATE TABLE departments (
	name VARCHAR(30) NOT NULL,
	employee_id VARCHAR NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(employee_id) REFERENCES employees (id)
)


02:29:36 INFO:
CREATE TABLE departments (
	name VARCHAR(30) NOT NULL,
	employee_id VARCHAR NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(employee_id) REFERENCES employees (id)
)


2025-04-13 02:29:36,940 INFO sqlalchemy.engine.Engine [no key 0.00065s] ()
02:29:36 INFO: [no key 0.00065s] ()
2025-04-13 02:29:36,942 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	name VARCHAR(30) NOT NULL,
	date_of_birth DATE NOT NULL,
	salary INTEGER NOT NULL,
	department_id VARCHAR NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(department_id) REFERENCES departments (id)
)


02:29:36 INFO:
CREATE TABLE employees (
	name VARCHAR(30) NOT NULL,
	date_of_birth DATE NOT NULL,
	salary INTEGER NOT NULL,
	department_id VARCHAR NOT NULL,
	id INTEGER NOT NULL,
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(department_id) REFERENCES departments (id)
)


2025-04-13 02:29:36,942 INFO sqlalchemy.engine.Engine [no key 0.00045s] ()
02:29:36 INFO: [no key 0.00045s] ()
2025-04-13 02:29:36,943 INFO sqlalchemy.engine.Engine COMMIT
02:29:36 INFO: COMMIT
Database tables created successfully!

In [2]:
logger.info("Starting transformation: first trim, then convert types\n")
emp_df:pd.DataFrame =  pd.read_csv("./data/employees.csv", delimiter=',', header=0)

# Apply the transformation: first trim, then convert types.
transformed_emp_df = transform_csv_data(emp_df, EMPLOYEE_SCHEMA)
print(transformed_emp_df.head(1))

02:29:36 INFO: Starting transformation: first trim, then convert types

trim_all_values executed in 0.0009 seconds
convert_data_types executed in 0.0015 seconds
                                     id       name date_of_birth  salary  \
0  1dd3b13a-0b76-4468-b7c0-39ef57828315  James Lee    1973-09-15  145198

   department_id
0              8

In [3]:
# Validate Schema
schema_validation = SchemaValidation(transformed_emp_df)
type_check = schema_validation.validate_data_types(type_schema=EMPLOYEE_SCHEMA)

In [4]:
# Convert DataFrame to Employees ORM instances
employee_instances = convert_to_employees(transformed_emp_df)

# Use the inserter to insert employee data into the database
insert_data(engine, employee_instances)

2025-04-13 02:29:37,107 INFO sqlalchemy.engine.Engine BEGIN (implicit)
02:29:37 INFO: BEGIN (implicit)
2025-04-13 02:29:37,109 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,110 INFO sqlalchemy.engine.Engine [generated in 0.00028s (insertmanyvalues) 1/100 (ordered; batch not supported)] ('James Lee', '1973-09-15', 145198, 8)
02:29:37 INFO: [generated in 0.00028s (insertmanyvalues) 1/100 (ordered; batch not supported)] ('James Lee', '1973-09-15', 145198, 8)
2025-04-13 02:29:37,111 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,111 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/100 (ordered; batch not supported)] ('Dustin Jackson', '1976-08-02', 70001, 6)
02:29:37 INFO: [insertmanyvalues 2/100 (ordered; batch not supported)] ('Dustin Jackson', '1976-08-02', 70001, 6)
2025-04-13 02:29:37,112 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,112 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/100 (ordered; batch not supported)] ('David Clark', '1979-04-17', 107474, 5)
02:29:37 INFO: [insertmanyvalues 3/100 (ordered; batch not supported)] ('David Clark', '1979-04-17', 107474, 5)
2025-04-13 02:29:37,113 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,113 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/100 (ordered; batch not supported)] ('Jose West', '1991-12-10', 68319, 7)
02:29:37 INFO: [insertmanyvalues 4/100 (ordered; batch not supported)] ('Jose West', '1991-12-10', 68319, 7)
2025-04-13 02:29:37,113 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,114 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/100 (ordered; batch not supported)] ('Stephanie Johnson', '1971-11-13', 123717, 5)
02:29:37 INFO: [insertmanyvalues 5/100 (ordered; batch not supported)] ('Stephanie Johnson', '1971-11-13', 123717, 5)
2025-04-13 02:29:37,114 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,115 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/100 (ordered; batch not supported)] ('Aaron Delacruz', '2006-05-08', 42778, 1)
02:29:37 INFO: [insertmanyvalues 6/100 (ordered; batch not supported)] ('Aaron Delacruz', '2006-05-08', 42778, 1)
2025-04-13 02:29:37,115 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,115 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/100 (ordered; batch not supported)] ('Jose Shaw', '2003-07-21', 82966, 7)
02:29:37 INFO: [insertmanyvalues 7/100 (ordered; batch not supported)] ('Jose Shaw', '2003-07-21', 82966, 7)
2025-04-13 02:29:37,116 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,116 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/100 (ordered; batch not supported)] ('Victoria Heath', '1973-06-19', 93087, 8)
02:29:37 INFO: [insertmanyvalues 8/100 (ordered; batch not supported)] ('Victoria Heath', '1973-06-19', 93087, 8)
2025-04-13 02:29:37,117 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,117 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/100 (ordered; batch not supported)] ('Brenda Richards', '2003-09-16', 115176, 4)
02:29:37 INFO: [insertmanyvalues 9/100 (ordered; batch not supported)] ('Brenda Richards', '2003-09-16', 115176, 4)
2025-04-13 02:29:37,118 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,118 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/100 (ordered; batch not supported)] ('Audrey Sanchez', '1989-09-11', 99604, 10)
02:29:37 INFO: [insertmanyvalues 10/100 (ordered; batch not supported)] ('Audrey Sanchez', '1989-09-11', 99604, 10)
2025-04-13 02:29:37,118 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,119 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/100 (ordered; batch not supported)] ('Debra Archer', '1971-02-23', 142070, 6)
02:29:37 INFO: [insertmanyvalues 11/100 (ordered; batch not supported)] ('Debra Archer', '1971-02-23', 142070, 6)
2025-04-13 02:29:37,119 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,119 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/100 (ordered; batch not supported)] ('Sean Patton', '1993-07-23', 100368, 5)
02:29:37 INFO: [insertmanyvalues 12/100 (ordered; batch not supported)] ('Sean Patton', '1993-07-23', 100368, 5)
2025-04-13 02:29:37,120 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,120 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/100 (ordered; batch not supported)] ('William Gilmore', '1992-06-14', 54327, 5)
02:29:37 INFO: [insertmanyvalues 13/100 (ordered; batch not supported)] ('William Gilmore', '1992-06-14', 54327, 5)
2025-04-13 02:29:37,121 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,121 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/100 (ordered; batch not supported)] ('Jessica Brooks', '1972-06-17', 62105, 3)
02:29:37 INFO: [insertmanyvalues 14/100 (ordered; batch not supported)] ('Jessica Brooks', '1972-06-17', 62105, 3)
2025-04-13 02:29:37,121 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,122 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/100 (ordered; batch not supported)] ('Peter Moran', '1990-03-10', 145720, 5)
02:29:37 INFO: [insertmanyvalues 15/100 (ordered; batch not supported)] ('Peter Moran', '1990-03-10', 145720, 5)
2025-04-13 02:29:37,122 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,123 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/100 (ordered; batch not supported)] ('Pamela Kirby', '1982-11-17', 67851, 9)
02:29:37 INFO: [insertmanyvalues 16/100 (ordered; batch not supported)] ('Pamela Kirby', '1982-11-17', 67851, 9)
2025-04-13 02:29:37,123 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,124 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/100 (ordered; batch not supported)] ('Peggy Sanchez', '1982-07-23', 42496, 8)
02:29:37 INFO: [insertmanyvalues 17/100 (ordered; batch not supported)] ('Peggy Sanchez', '1982-07-23', 42496, 8)
2025-04-13 02:29:37,124 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,125 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/100 (ordered; batch not supported)] ('Brenda Crane', '1997-08-16', 93003, 7)
02:29:37 INFO: [insertmanyvalues 18/100 (ordered; batch not supported)] ('Brenda Crane', '1997-08-16', 93003, 7)
2025-04-13 02:29:37,125 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,126 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/100 (ordered; batch not supported)] ('Terri Henry', '1996-01-02', 125372, 7)
02:29:37 INFO: [insertmanyvalues 19/100 (ordered; batch not supported)] ('Terri Henry', '1996-01-02', 125372, 7)
2025-04-13 02:29:37,126 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,127 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/100 (ordered; batch not supported)] ('Caroline Patton', '1988-07-13', 52662, 4)
02:29:37 INFO: [insertmanyvalues 20/100 (ordered; batch not supported)] ('Caroline Patton', '1988-07-13', 52662, 4)
2025-04-13 02:29:37,128 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,129 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/100 (ordered; batch not supported)] ('Tiffany Bailey', '1981-01-06', 149594, 4)
02:29:37 INFO: [insertmanyvalues 21/100 (ordered; batch not supported)] ('Tiffany Bailey', '1981-01-06', 149594, 4)
2025-04-13 02:29:37,129 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,130 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/100 (ordered; batch not supported)] ('Tammy Rose', '1983-10-17', 67229, 9)
02:29:37 INFO: [insertmanyvalues 22/100 (ordered; batch not supported)] ('Tammy Rose', '1983-10-17', 67229, 9)
2025-04-13 02:29:37,130 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,131 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/100 (ordered; batch not supported)] ('Heidi Perry', '2003-02-24', 119138, 4)
02:29:37 INFO: [insertmanyvalues 23/100 (ordered; batch not supported)] ('Heidi Perry', '2003-02-24', 119138, 4)
2025-04-13 02:29:37,131 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,132 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/100 (ordered; batch not supported)] ('Michael Martin', '1993-07-27', 48230, 2)
02:29:37 INFO: [insertmanyvalues 24/100 (ordered; batch not supported)] ('Michael Martin', '1993-07-27', 48230, 2)
2025-04-13 02:29:37,132 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,133 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/100 (ordered; batch not supported)] ('Joseph Russell', '1993-08-29', 135316, 5)
02:29:37 INFO: [insertmanyvalues 25/100 (ordered; batch not supported)] ('Joseph Russell', '1993-08-29', 135316, 5)
2025-04-13 02:29:37,133 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,133 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/100 (ordered; batch not supported)] ('Thomas Stark', '1982-12-30', 103364, 9)
02:29:37 INFO: [insertmanyvalues 26/100 (ordered; batch not supported)] ('Thomas Stark', '1982-12-30', 103364, 9)
2025-04-13 02:29:37,134 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,134 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/100 (ordered; batch not supported)] ('Earl Brooks', '1970-02-18', 47080, 9)
02:29:37 INFO: [insertmanyvalues 27/100 (ordered; batch not supported)] ('Earl Brooks', '1970-02-18', 47080, 9)
2025-04-13 02:29:37,135 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
02:29:37 INFO: INSERT INTO employees (name, date_of_birth, salary, department_id, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP) RETURNING id, created_at, updated_at
2025-04-13 02:29:37,135 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/100 (ordered; batch not supported)] ('Kimberly Barnes', '1984-11-06', 98821, 4)
02:29:37 INFO: [insertmanyvalues 28/100 (ordered; batch not supported)] ('Kimberly Barnes', '1984-11-06', 98821, 4)